body {
    background: #007bff;
    background: linear-gradient(to right, #0062e6, #33aeff);
  }
  
  .login {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  input[type='text'] {
    font-size: 15px;
    margin-bottom: 3px;
  }
  .label {
    margin-top: -20px;
    margin-left: 6px;
    font-size: 1.2em;
    height: 30px;
    color: black;
    background-color: white;
  }
  .btn-login {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: white !important;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #3b5998;
  }
  