.btn-login {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    width: 20%;
  }
  .submitbtncontent{
      padding-left: 30%;
      padding-top: 10%;
      color: white;
  }
  div{
      color: black;
      
  }
  .divqsn
  {
    padding-left: 20%;
    padding-top: 15px;
}
  
  .btn{
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
      width: 20%;
      padding-top: 10px;
      font-weight: bold;
      margin-top: 30px;
      color: black;
  }
   